
body{
    font-family: 'Encode Sans';
    width: 100%;
}

.geral{
    background-color: #E5E5E5;
    width: 100%;
}

.ajuste{
    height: 210px;
}

.menu-cima{
    background-color: rgb(230, 25, 25);
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: black 5px 5px 20px;
    padding: 15px;
}

.menu-cima h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 20px;
}
.menu-cima p{
    font-size: 20px;
    font-weight: 900px;
    color: white;
    margin: 20px;
}

.primeiro-pedido{
    width: 100%;
    height: 50px;
    top: 1px;
    
}

.primeiro-pedido h2{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    margin-left: 40px;
}

.pedidos-pratos{
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
}

.pedidos-pratos img{
    width: 180px;
    border-radius: 10px;
}

.pedidos-pratos h3{
    font-size: 20px;
    font-weight: bold;;
    margin-bottom: 15px;
}

.pedidos-pratos p{
    font-size: 15px;
    color: rgb(117, 117, 117);
}

.pedidos-pratos button{
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 230px;
    width: 200px;
    background-color: white;
}

.rolamento .preco{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.rolamento2 .preco{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.pedidos-bebidas{
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin-top: 20px;
    overflow: auto;
}

.pedidos-bebidas img{
    width: 180px;
    border-radius: 10px;
}

.pedidos-bebidas h3{
    font-size: 20px;
    font-weight: bold;;
    margin-bottom: 15px;
}

.pedidos-bebidas p{
    font-size: 15px;
    color: rgb(117, 117, 117);
}

.pedidos-bebidas button{
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    height: 230px;
    width: 200px;
    background-color: white;
}
-------------
.pedidos-sobremesa{
    width: 100%;
    display: flex;
    border-radius: 20px;
}

.pedidos-sobremesa img{
    width: 180px;
    border-radius: 10px;
}

.pedidos-sobremesa h3{
    font-size: 20px;
    font-weight: bold;;
    margin-bottom: 15px;
}

.pedidos-sobremesa p{
    font-size: 15px;
    color: rgb(117, 117, 117);
}

.pedidos-sobremesa button{
    background-color: white;
    margin-left: 30px;
    border-radius: 20px;
    height: 230px;
    width: 200px;
}
.rolamento{
    display: flex;
    overflow: auto;
}

.rolamento1{
    display: flex;
    overflow: auto;
}

.rolamento2{
    display: flex;
    overflow: auto;
}

.botao-finalizar-pedido{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    margin-top: 30px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border: none;

}

.botao-finalizar-pedido button{
    background-color: #CBCBCB;
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 80%;
}

.botao-finalizar-pedido p{
    font-size: 20px;
}

.ocupa-espaço{
    background-color: aqua;
    height: 100px;

}

.verde{
    border: 5px solid green;
}
.botao-finalizar-pedido .fundo-verde{
    background: green;
    width: 50%;
    height: 50px;
    font-size: 20px;
    color: white;
    border: none;
}